<section class="b-page-content wow fadeInDown" data-wow-delay="1s" data-wow-duration="1s">
  <div class="b-content">
      <h4 class="title-find">Find your Favorite</h4>
      <div class="title">
        <h2 class="title-recipes">RECIPES</h2>
      </div>
      <div class="btn-start">
          <a href="#" class="waves-effect waves-light get-start">GET STARTED</a>
      </div>
      <div class="text">
        <p class="b-text">OR SEND US YOUR OWN RECIPES AND GET REWARDED</p>
      </div>
  </div>
</section>