
<section class="b-page-number" id="counter">
    <div class="container">
        <div class="row text-center">
            <div class="stat-items">
                <h2 class="b-title  counter-value" data-count="23537">
                    0
                </h2>
                <p class=" b-text">
                    Recipes Available
                </p>
            </div>

            <div class="stat-items">
                <h2 class="b-title  counter-value" data-count="431729">
                    0
                </h2>
                <p class="b-text">
                    Active Users
                </p>
            </div>

            <div class="stat-items">
                <h2 class="b-title  counter-value" data-count="892173">
                    0

                </h2>
                <p class="b-text">
                    Positive Reviews
                </p>
            </div>
            <div class="stat-items">
                <h2 class="b-title  counter-value" data-count="56581">
                    0
                </h2>
                <p class="b-text">
                    Photos & Videos
                </p>
            </div>

            <div class="stat-items">
                <h2 class="b-title  counter-value" data-count="3182">
                    0
                </h2>
                <p class="b-text">
                    Spices and Herbs
                </p>
            </div>
        </div>
    </div>
</section>