<section class="b-page-number" id="stats">
    <div class="container">
        <div class="row text-center">
            <div class="stat-items">
                <h2 class="b-title">
                    <span
                        class="timer count-title count-number text-center"
                        data-to="23567"
                        data-speed="1500"></span>
                </h2>
                <p class="b-text">
                    Recipes Available
                </p>
            </div>

            <div class="stat-items">
                <h2 class="b-title">
                    <span
                        class="timer count-title count-number text-center"
                        data-to="431729"
                        data-speed="1500"></span>
                </h2>
                <p class="b-text">
                    Active Users
                </p>
            </div>

            <div class="stat-items">
                <h2 class="b-title">
                    <span
                        class="timer count-title count-number text-center"
                        data-to="892173"
                        data-speed="1500"></span>
                </h2>
                <p class="b-text">
                    Positive Reviews
                </p>
            </div>
            <div class="stat-items">
                <h2 class="b-title">
                    <span
                        class="timer count-title count-number text-center"
                        data-to="56581"
                        data-speed="1500"></span>
                </h2>
                <p class="b-text">
                    Photos & Videos
                </p>
            </div>

            <div class="stat-items">
                <h2 class="b-title">
                    <span
                        class="timer count-title count-number text-center"
                        data-to="3182"
                        data-speed="1500"></span>
                </h2>
                <p class="b-text">
                    Spices and Herbs
                </p>
            </div>
        </div>
    </div>
</section>